.home-container{
    height: 300px;
    color: white;
    padding-left: 40px;
}
.home-content{
    padding-top: 20px;
}
.home-content h2{
    padding: 5px;
    padding-top: 70px;
}
.home-content h1{
    padding: 5px;
    color: #e0b50f;
}

.btn-hire{
    background-color: #3b8ff3;
    color: white;
    width:160px ;
    margin:5px;
    
}
.btn-cv{
    background-color: orange;
    color: white;
    width:160px ;
    margin:5px;
}
.btn-hire:hover{
    background-color: white;
    color:#3b8ff3;
    width:200px ;
    transition: 1s;
}
.btn-cv:hover{
    background-color: white;
    color:orange;
    width:200px ;
    transition: 1s;
}