.techstack{
    padding-left: 50px;
    margin-top: 60px;
}
.techstack hr{
    color: #138781;
    width: 400px;
    margin: 10px auto;
}
.techstack h2{
    font-weight: bold;
    color: #138781;
}
.techstack .card{
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.techstack .tech-icon{
    font-size: 2pm;
    margin-left: 20px;
}
.techstack .card:hover{
    background-color: #138781;
    color: white;
    border: none;
    transition: 1s;
}
